@media (max-width: 768px) {

    /* header */
    .header {
       padding-right: 32px;
    }

    .header__nav-open-button,
    .header__nav-close-button {
        display: block;
        border: 0;
        font-size: 32px;
        color: #01402E;
        cursor: pointer;
        background-color: transparent;
    }

    .header__nav-close-button {
        color: #fff;
    }
    
    .header__nav {
        display: flex;
        justify-content: end;
        opacity: 0;
        visibility: hidden;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(0, 0, 0, .5);
        z-index: 1;
    }

    .header__nav-content {
        display: flex;
        flex-direction: column;
        gap: 24px;
        align-items: end;
        background-color: #01402E;
        padding: 32px;
        height: 100%;
    }

    .header__nav-visible {
        opacity: 1;
        visibility: visible;
    }

    .header__nav-list {
      flex-direction: column;
      color: #fff;
      align-items: end;
    }

    /* main */
    .main__section {
        display: grid;
        grid-template-columns: 1fr;
    }

    .main__section-content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 32px;
        background-color: #01402E;
        padding: 64px 32px;
    }


    /* footer */
    .footer__elements {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
  }